:root {
    --latte191: rgb(191, 186, 173);
    --latte127: rgb(127, 124, 115);
    --latte95: rgb(95, 92, 86);
    --latte63: rgb(63, 61, 57);
    --latte31: rgb(31, 30, 28);
}

* {
    box-sizing: border-box;
}

body {
  background: var(--latte31);
}

h1 {
  text-align: center;
  font-size: 300%;
  color: var(--latte31);
  text-shadow: 2px 2px var(--latte127);
  border-style: groove;
  border-width: 3px;
  border-color: var(--latte63);
}

h1:hover {
    text-shadow: 2px 2px var(--latte191);
}

h2 {
    text-align: center;
    color: var(--latte95);
    text-shadow: 2px 2px black;
  }

  img {
    width: 180px;
    padding: 8px;
    border: 4px solid black;
  }

  .contenedor {
    text-align: center;
  }

  .planeta {
    display: inline-block;
  }

  h3 {
    color: var(--latte95);
    font-size: small;
    text-shadow: 2px 2px black;
  }
