:root {
    --latte191: rgb(191, 186, 173);
    --latte127: rgb(127, 124, 115);
    --latte63: rgb(63, 61, 57);
    --latte31: rgb(31, 30, 28);
}

body {
  background: var(--latte31);
}

h1 {
  text-align: center;
  font-size: 60px;
  color: var(--latte191);
  border-style: groove;
  border-width: 3px;
  border-color: var(--latte63);
}
