:root {
    --latte191: rgb(191, 186, 173);
    --latte159: rgb(159, 155, 144);
    --latte127: rgb(127, 124, 115);
    --latte31: rgb(31, 30, 28);
    --latte23: rgb(23, 22, 21);
    --latte15: rgb(15, 15, 14);
}

* {
    box-sizing: border-box;
}

body {
    margin-top: -20px;
    background: radial-gradient(var(--latte31), var(--latte15));
}

header {
    text-align: center;
    height: 4em;
}

h1 {
    font-size: 300%;
    border: 3px groove var(--latte15);
    color: var(--latte23);
    text-shadow: 2px 2px var(--latte127);
}

main {
    border: 3px, groove var(--latte15);
}

.lapso {
    text-align: center;
    color: var(--latte127);
    text-shadow: 2px 2px var(--latte15);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.planeta {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 270px;
    padding: 12px;
    border: 3px, groove var(--latte15);
}

img:hover {
    border: 3px groove var(--latte127);
}

.nombre {
    text-align: center;
    color: var(--latte159);
    text-shadow: 2px 2px black;
}

h3:hover {
    color: var(--latte191);
}
